{% extends 'base.html' %}


{% block content %}
  <div class="container mx-auto px-2 sm:px-6 lg:px-8 py-2">
    <div class="max-w-2xl mx-auto">
      <h1 class="mb-4 text-2xl font-bold">Sipariş Özeti</h1>
      <div class="bg-white border rounded-md shadow">
        {% for order_item in order.items.all %}
          <div class="px-4 py-2 flex items-center justify-between">
            <div class="flex items-center">
              <div class="mr-4">
                <a href="#" class="px-2 py-1 bg-orange-400 text-white rounded hover:bg-orange-500 focus:outline-none focus:shadow-outline"><i class="fas fa-minus"></i></a>
                <span class="px-2">{{ order_item.quantity }}</span>
                <a href="#" class="px-2 py-1 bg-green-500 text-white rounded hover:bg-green-600 focus:outline-none focus:shadow-outline"><i class="fas fa-plus"></i></a>
              </div>
              <div>
                <p class="font-bold text-blue-700">{{ order_item.product.name }}</p>
                <p class="text-sm text-gray-600">{{ order_item.product.content }}</p>
              </div>
            </div>
            <div class="flex items-center">
              <p class="font-bold text-blue-500">{{ order_item.product.price }} TL</p>
              <a href="#" class="ml-4 px-2 py-1 bg-red-500 text-white rounded hover:bg-red-600 focus:outline-none focus:shadow-outline"><i class="fas fa-trash"></i></a>
            </div>
          </div>
        {% endfor %}
      </div>
      <p class="px-4 py-2 text-right"><span class="text-lg font-bold mr-4">Toplam Tutar:</span> {{ order.get_total_price }} TL</p>
    </div>
  </div>
{% endblock content %}
